.outer-div {
    background: linear-gradient(to right, #5f2c82, #49a09d);

    .underline-offset {
        text-underline-offset: 7px;
    }

    .text-font {
        font-family: 'Georgia', serif;

    }

    .main-div {
        input {
            padding-left: 10px;
            ;
        }
    }

    button {
        padding: 25px 0px;
    }
}

::ng-deep .mat-mdc-text-field-wrapper {
    border-radius: 7px !important;
}

@media (max-width:1025px) {
    .outer-div {
        button {
            padding: 15px 0px;
        }
    }
}