<div class="box" id="ball1"></div>
<div class="box" id="ball2"></div>
<div class="box" id="ball3"></div>
<div class="box" id="ball4"></div>

<div class="w-screen h-full flex items-center justify-center p-4 outer-div ">
  <div class="w-full sm:w-1/2 lg:w-1/3">
    <form [formGroup]="loginForm" (ngSubmit)="loginWithUsernameAndPassword()" class="flex flex-col items-center gap-2">

      <!-- Heading -->
      <header class="mb-4">
        <span class="text-4xl underline decoration-wavy text-white underline-offset text-font">TO DO APP</span>
      </header>

      <!-- Form Fields -->
      <div class="w-full flex flex-col gap-2 main-div">
        <mat-form-field>
          <input matInput required formControlName="username" autocomplete="off" placeholder="Enter your email here!" />
          <mat-error *ngIf="loginForm.get('username')?.hasError('required')" class="text-white">Useremail is
            required</mat-error>
        </mat-form-field>

        <!-- Password -->
        <mat-form-field>
          <input #password matInput required formControlName="password" [type]="'password'" autocomplete="off" />
          <span class="material-icons absolute text-sm mr-1 top-1/3 -ml-6 cursor-pointer hover:text-primary opacity-75"
            (click)="password.type = password.type === 'text' ? 'password' : 'text'">
            {{ password.type === 'password' ? 'visibility' : 'visibility_off' }}
          </span>

          <mat-error *ngIf="loginForm.get('password')?.hasError('required')" class="text-white">Password is
            required</mat-error>
        </mat-form-field>

      </div>

      <!-- Login Button -->
      <div class="flex flex-col lg:flex-row justify-between gap-2 w-full">
        <button type="submit" mat-flat-button class="bg-white flex-1"
          [disabled]="(loading$$ | async) || !loginForm.valid">
          <span *ngIf="(loading$$ | async) === false">Login</span>
          <div *ngIf="loading$$ | async">
            <mat-spinner color="accent" [diameter]="22"></mat-spinner>
          </div>
        </button>
      </div>
    </form>
  </div>
</div>