<div class="px-4">
  <div class="py-4">
    <form [formGroup]="searchForm" class="flex w-full gap-6 flex-wrap">
      <div class="flex items-center border-gray-400 rounded-full justify-between flex-1" style="
          border-width: 1px;
          max-height: 50px;
          padding: 4px 10px;
          align-items: center;
          min-width: 200px;
        ">
        <div class="flex items-center w-full">
          <span class="material-icons">search</span>
          <input [type]="
              searchForm.get('filter')?.value === 'Item Id' ? 'number' : 'text'
            " formControlName="search" [placeholder]="'Search by ' + searchForm.get('filter')?.value"
            class="h-4 w-full focus:outline-none" />
        </div>

        <button [matMenuTriggerFor]="menu" class="flex">
          <mat-icon>tune</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="searchForm.get('filter')?.patchValue('Item Id')">
            <span>Item Id</span>
          </button>
          <button mat-menu-item (click)="searchForm.get('filter')?.patchValue('Item Value')">
            <span>Item Value</span>
          </button>
        </mat-menu>
      </div>

      <div class="flex gap-5">
        <button
          class="p-2 px-10 text-md text-white bg-blue-500 hover:bg-blue-600 active:bg-blue-700 focus:outline-none focus:ring focus:ring-blue-100"
          style="border-radius: 10px" (click)="$event.stopPropagation(); addItems()">
          Add Items
        </button>

        <button class="p-2 text-md px-10" style="border-radius: 10px" [ngClass]="
          this.dataSource$$.value.length !== 0
            ? 'text-white bg-red-500 hover:bg-red-600 active:bg-red-700 focus:outline-none focus:ring focus:ring-red-100'
            : 'bg-slate-200 text-gray-500'
        " (click)="$event.stopPropagation(); deleteAllItems()" [disabled]="this.dataSource$$.value.length === 0">
          Delete All Items
        </button>
      </div>
    </form>
  </div>

  <div class="w-full shadow-lg border-gray-300 border-t-2 rounded-t-md">
    <div *ngIf="
        (dataSource$$ | async) && (loading$$ | async) === false;
        else loader
      "></div>
    <table mat-table [dataSource]="dataSource$$ | async" class="w-full overflow-x-auto">
      <ng-container matColumnDef="sno">
        <th mat-header-cell *matHeaderCellDef class="sticky top-0">S.No.</th>
        <td mat-cell *matCellDef="let element; let idx = index">
          {{ this.pageIndex * 10 + idx + 1 | dashIfNothing }}
        </td>
      </ng-container>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef class="sticky top-0">Item ID</th>
        <td mat-cell *matCellDef="let element">
          {{ element?.id | dashIfNothing }}
        </td>
      </ng-container>

      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef class="sticky top-0">Value</th>
        <td mat-cell *matCellDef="let element">
          {{ element.value | dashIfNothing }}
        </td>
      </ng-container>

      <!-- <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef class="sticky top-0">Status</th>
        <td mat-cell *matCellDef="let element">
          {{ element.status | dashIfNothing }}
        </td>
      </ng-container>

      <ng-container matColumnDef="progress">
        <th mat-header-cell *matHeaderCellDef class="sticky top-0">
          Progress Bar
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.status | dashIfNothing }}
        </td>
      </ng-container>

      <ng-container matColumnDef="priority">
        <th mat-header-cell *matHeaderCellDef class="sticky top-0">Priority</th>
        <td mat-cell *matCellDef="let element">
          {{ element.priority | dashIfNothing }}
        </td>
      </ng-container> -->

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef class="sticky top-0">Action</th>
        <td mat-cell *matCellDef="let element; let idx = index">
          <div class="flex flex-row">
            <button class="hover:bg-gray-200 pl-1 pr-1 text-black" style="border-radius: 100%" matTooltip="Edit"
              (click)="$event.stopPropagation(); updateItem(element)">
              <span class="material-icons text-green-500 text-xl">edit</span>
            </button>

            <div class="flex flex-row" matTooltip="delete">
              <button (click)="$event.stopPropagation(); deleteItem(element)" class="hover:bg-gray-200 pl-1 pr-1"
                style="border-radius: 100%" matTooltip="Delete">
                <span class="material-icons text-xl text-red-500" *ngIf="deletingIndex !== idx">delete
                  <mat-spinner *ngIf="(deleting$$ | async) && deletingIndex === idx" [diameter]="22"></mat-spinner>
                </span>
              </button>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <div *ngIf="(dataSource$$ | async)?.length === 0" class="w-full text-center p-2 text-lg text-gray-700">
      No Items Found
    </div>
    <mat-paginator (page)="pageEvents($event)" [length]="totalItems" [pageSize]="this.limit"
      [pageIndex]="this.pageIndex" [showFirstLastButtons]="true" [hidePageSize]="true">>
    </mat-paginator>
  </div>
</div>

<ng-template #loader>
  <div>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
</ng-template>